[user]
  name = Tetiana Dushenkivska
  email = myemail@here
[core]
  editor = vim
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore_global
[push]
  default = current
[alias]
  s = status
  st = status
  a = add -p
  co = checkout
  l = log --oneline --graph --decorate
[commit]
  template = ~/.gitmessage
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
