#ignore everything
*

#except those:

!.zshrc

!.gitignore
!.gitconfig
!.gitignore_global
!.gitmessage

!.vimrc

!.bundle/
!.bundle/config

#need all those to see change in tracked.
!.vim/colors/
!.vim/
!.vim/colors/solarized.vim
